body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

.sidebar {
    width: 300px;
    margin-right: 40px;
}

.main-content {
    flex: 1;
    background-color: #161b22;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1, h2 {
    font-size: 1.5em;
    margin: 20px 0;
}

h1 {
    font-size: 2.0em;
}

p {
    font-size: 1.0em;
    line-height: 1.2em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    font-size: 1.2em;
    margin: 10px 0;
}

li img {
    vertical-align: middle;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;
}

nav {
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.tech-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tech-section img {
    width: 85px;
    height: 20px;
    margin: 5px;
    object-fit: contain; 
    vertical-align: middle;
}


h3 {
    font-size: 1.5em;
    margin-top: 20px;
    /* color: #ffffff; */
}

@media (max-width: 768px) {
    body {
        justify-content: flex-start;
    }

    .container {
        flex-direction: column;
        margin-top: 60px;
        padding: 20px;
        width: 100%;
        height: auto;
    }

    .sidebar {
        width: 100%;
        margin-right: 0;
    }

    .main-content {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .tech-section {
        justify-content: flex-start;
    }
}
